
@{
    ViewData["Title"] = "Privacy";
}

<div class="container m-t-80 p-r-75 p-l-75 bg-white">
    <div class="row">
        <div class="col-9">

            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    Privacy
                </div>
                <div class="card-body">
                    <div class="row1">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ex orci, dictum vel ipsum vel, ultrices vestibulum purus. Fusce fringilla mauris sit amet dignissim consequat. Suspendisse elementum orci a dolor dapibus facilisis. Mauris imperdiet mollis risus eu fermentum. Praesent fermentum in ex sagittis lacinia. Sed malesuada massa ante, ac convallis nisi aliquet quis. Integer cursus lorem vitae ullamcorper pulvinar. Aliquam felis tortor, condimentum non sodales eu, ultrices ut urna. Donec ac lacus at lacus tincidunt sagittis. Proin iaculis lorem a elementum facilisis. Praesent bibendum justo nec facilisis lacinia.</p>
                        <p>Nunc euismod arcu vitae posuere condimentum. Curabitur facilisis suscipit volutpat. Fusce vitae leo non est dictum rutrum. Praesent vulputate rhoncus purus, in imperdiet augue placerat sit amet. Sed rhoncus arcu eu neque tempus, in euismod massa eleifend. In hac habitasse platea dictumst. Pellentesque scelerisque erat metus, vitae sodales magna vestibulum in. Phasellus aliquet ligula nisl, et lobortis purus luctus in. Donec aliquam blandit ante in ultrices. Integer nisi nisi, pellentesque non scelerisque a, elementum non lacus. Suspendisse orci ante, malesuada non est quis, malesuada consectetur sem.</p>
                        <p>Nunc eget finibus augue. Aliquam sed sapien turpis. Curabitur sed ante vitae enim dapibus sagittis. Quisque vel lobortis justo. Ut non mauris nisi. Proin sed odio consectetur erat sagittis accumsan id rutrum urna. Mauris vel odio et lacus volutpat suscipit. In hac habitasse platea dictumst. Proin ut libero nec massa imperdiet mattis nec ac felis. Vestibulum vitae pharetra massa, vitae elementum purus. Proin a fringilla justo. Curabitur a metus quam.</p>
                        <p>Etiam eleifend auctor ante, id consequat nulla cursus eleifend. Duis sed diam sit amet ex gravida interdum ut vitae risus. Etiam ultricies mauris nisl, a lacinia nulla porta sit amet. Suspendisse iaculis diam nec mi euismod semper. Nunc cursus turpis tellus, vel tincidunt nibh finibus et. Morbi vehicula cursus tempor. Quisque finibus sem feugiat arcu consectetur, et egestas dui convallis. Aliquam erat volutpat.</p>
                        <p>Donec et vestibulum sapien. Suspendisse ultricies a lectus in fermentum. Vestibulum ultricies felis sed efficitur laoreet. Vivamus imperdiet lacus sit amet neque tristique dignissim. In convallis fringilla massa, eget aliquet risus placerat sed. Sed non mauris hendrerit, volutpat mauris et, hendrerit nisl. Nullam laoreet varius justo, a commodo elit accumsan eu. Donec aliquam ullamcorper vehicula. Donec ex enim, volutpat mattis aliquam quis, malesuada eget diam. Ut fringilla, turpis et dignissim ultrices, arcu elit congue ex, at finibus odio lorem vitae felis. Ut venenatis turpis lorem, in varius arcu consequat sed.</p>
                        <p>Duis ac sem risus. Etiam suscipit aliquam lectus id pharetra. Vestibulum placerat, elit eu tristique porttitor, urna lacus lobortis tellus, sit amet vulputate leo nisl sed lacus. Mauris mollis arcu felis, in lobortis ligula aliquam a. In vehicula sem ut est viverra, at convallis ipsum vulputate. Fusce molestie, sapien vel efficitur aliquet, urna dolor mattis arcu, at scelerisque metus purus efficitur neque. Proin quis velit ut dolor feugiat luctus. Etiam consectetur tellus ante, et commodo tortor tristique vitae. Etiam justo justo, semper id luctus quis, luctus sit amet quam. Phasellus hendrerit sem ut commodo tincidunt. Nulla sed mi hendrerit, commodo justo dignissim, dapibus. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
