
@{
    ViewData["Title"] = "Sitemap";
}

<div class="container m-t-80 p-r-75 p-l-75 bg-white">
    <div class="row">
        <div class="col-9">

            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    Sitemap
                </div>
                <div class="card-body">
                    <div class="row1">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
